
@font-face {
    font-family: 'amonk';
    src: url('amonk/Amonk\ Ice-SVG.ttf') format('truetype');
}

body {
    font-family: 'Inter', sans-serif;
    background-image: url('./images/background.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    overflow-x: hidden;
    position: relative;
}


h1 {
    font-family: 'amonk', sans-serif;
    font-size: 4rem;
    font-weight: bold;
}


h2 {
    font-family: 'amonk', sans-serif;
}

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0,rgba(0, 0, 0, 0.5)); 
    z-index: 0;
    pointer-events: none; 
}

nav {
    background: rgba(105, 78, 78, 0.25); 
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-bottom: 1px solid rgba(230, 157, 155, 0.3); 
}


body::-webkit-scrollbar {
    width: 8px;
}
body::-webkit-scrollbar-track {
    background: transparent;
}
body::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 20px;
    border: 3px solid transparent;
}


#webgl-canvas {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
    z-index: -1;
}


.scroll-container {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10; 
}


.page-section {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'Inter', sans-serif;
}




.card {
    width: 240px; 
    height: 340px; 
    background: rgb(214 185 214);
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    padding: 20px; 
    transform-style: preserve-3d;
    transition: transform 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}


.card-title {
    margin-bottom: 10px;
    font-size: 1.5rem;
    font-weight: 600;
    color: #333; 
    transform: translateZ(30px);
    transition: transform 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}

.card-image {
    width: 100%; 
    height: 280px; 
    border-radius: 15px;
    object-fit: cover;
    background: transparent;
    transform: translateZ(50px);
    transition: transform 0.4s cubic-bezier(0.23, 1, 0.32, 1);
    box-shadow: 0 20px 40px -10px rgba(0, 0, 0, 0.3);
    
}

#footer-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    z-index: 1;
}

#footer-bg {
    transition: transform 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}